<!DOCTYPE html>
<html>
<head>
<title>Sowing a Agriculture Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Sowing a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/smoothbox.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body><!-- contact-->
<div class="contactfull">
	<div class="contact" id="contact">

		<div class="container">
		<h3>CONTACT US</h3>
			<div class="footer-grids">

				<div class="col-md-3 col-sm-6 my-info">
					
				</div>
				<div class="col-md-3 col-sm-6 information">
					<h4>Quick Links</h4>
					<div class="unorder">
					<p><a href="/home" class=" scroll" ><span class="fa fa-angle-right" aria-hidden="true"></span>Home</a></p>
					<p><a class=" scroll" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span>About</a></p>
					<p><a class=" scroll" href="https://www.google.com/search?biw=1536&bih=759&ei=Qud4W5SIHMz5vAT455tQ&q=today%27s+weather+report&oq=today%27s&gs_l=psy-ab.3.0.0i67k1l3j0i131k1l3j0l4.1642.21449.0.26294.46.14.1.3.3.0.201.1354.0j8j1.9.0....0...1c.1.64.psy-ab..38.8.579...0i131i67k1.0.0jdRlZNEWRk"><span class="fa fa-angle-right" aria-hidden="true"></span>Weather</a></p>
					<p><a class=" scroll" href="/help"><span class="fa fa-angle-right" aria-hidden="true"></span>
                    Help</a></p>
					</div>
				</div>

				


				<div class="col-md-3 col-sm-6 iteams">
					<h4>Contact Info</h4>
					<ul class="agile_footer_grid_list">
						<li>Central Madrid, Spain</li>
							
						<li><span class="fa fa-phone"></span>12344567890</li>
						<li><span class="fa fa-envelope-o"></span><a href="mailto:info@example.com">contact@dummy.com</a></li>

					</ul>
				</div>
				<div class="col-md-3 col-sm-6 menu">
					</div>


				<div class="clearfix"></div>

			</div>
			</div>
			</div>

<!-- /Contact-->
</body>
</html>
