<!DOCTYPE html>
<html><head>
<title>help</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/css/stt.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
	body{
  background-image: url("/images/heli.jpeg");
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
	}
</style>
</head><body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">MENU</h3>
  <a href="/home" class="w3-bar-item w3-button">HOME</a>
  <a href="/search" class="w3-bar-item w3-button">
Search</a>
  <a href="/contact" class="w3-bar-item w3-button">
CONTACT US</a>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1><center>
HELP</center></h1>
</div>

<div class="w3-container hrs">
	<pre>
	<form action="/soil" method="">
	<button type="submit" name="submit" class="btn">
CROP SUGGESTIONS</button>
	</form> 	
	<form action="" method="">
	<button type="submit" name="submit" class="btn1"><a href="http://www.dinamani.com/agriculture" >NEWS</a></button>
	</form>               
	
	</pre>
</div>
</div>
     
</body><script type="text/javascript"></script>
</html>
