
  <!DOCTYPE html>
  <html>
  <head>
  <title>
  login
  </title> 
  <link type="text/css" rel="stylesheet" href="/css/st.css">
  </head>
  <body>
   <div class="container">
        <ul>
        <li class="signup"><a href="/signup">SIGN UP</a></href></li>
        <li class="login"><a href="/login">LOG IN</a></href></li>
  </ul>
  
  <form action="/login" method="POST" class="login-form">
            <input type="email" name="username" placeholder="Enter Email" class="input"><br />
            <input type="password" name="password" placeholder="Enter Password" class="input"><br />
            <button type="submit" name="submit" class="btn">Login</button>
         </form>
  </body>
  </html>      