<!DOCTYPE html>
<html>
<head>
<title>
Search
</title> 
<link type="text/css" rel="stylesheet" href="/css/st.css">
</head>
<body class="srcd">

    <div class="container">
      
       <form class="signup-form1" method="Post",action="/search">
          <input type="text" name="uname" placeholder="Enter user name to be searched " class="input"><br />
         
          <button type="submit" name="submit" class="btn">Search</button>
       </form>
      
      
    </div>
  </div>
</body>
</html>